@import "partials/mixins";
@import "partials/nav";
@import "partials/header";
@import "partials/common-styles";
@import "partials/slick";
@import "partials/slider";
@import "partials/banner";
@import "partials/footer";
@import "partials/home-news";

@import "partials/single"; 
//@import "partials/uisearch"; 
@import "partials/_solution"; 
@import "partials/about.scss";


@font-face {
  font-family: 'AvenirNext-Regular';
  src: url('../fonts/AvenirNext/AvenirNext-Regular.ttf') format('opentype');
   
}
 
 @font-face {
  font-family: 'AvenirNext-Medium';
  src: url('../fonts/AvenirNext/AvenirNext-Medium.ttf') format('opentype');
   
}
 @font-face {
  font-family: 'AvenirNext-Bold';
  src: url('../fonts/AvenirNext/AvenirNext-Bold.ttf') format('opentype');
   
}
 @font-face {
  font-family: 'AvenirNext-DemiBoldItalic';
  src: url('../fonts/AvenirNext/AvenirNext-DemiBoldItalic.ttf') format('opentype');   
}
 @font-face {
  font-family: 'AvenirNext-MediumItalic';
  src: url('../fonts/AvenirNext/AvenirNext-MediumItalic.ttf') format('opentype');   
}
 @font-face {
  font-family: 'AvenirNext-DemiBold';
  src: url('../fonts/AvenirNext/AvenirNext-DemiBold.ttf') format('opentype');   
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'webfont';
    src: url('../fonts/webfont.svg?1531711#webfont') format('svg');
  }
}


body {
  //background: #333333; 
 font-family: 'AvenirNext-Regular';
  @include body-font();
  font-size:14px;
  line-height: 20px;
  overflow-x: hidden;
}

// .col-1, .col-2 {
//   float: left;
//   position: relative;
//   min-height: 1px;
// }
// .col-1 {
//   @include breakpoint(xs-sm){
//     width: 100%;
//   }
//   @include breakpoint(md){
//     width: 630px;
//     margin-right: 0px;
//     margin-top:10px;
//     padding: 0 10px;
//   }
//   @include breakpoint(lg){
//     width: 705px;
//     //margin-right: 100px;
//   }
//   .post-type-archive-player & {
//     padding-top: 15px;
//   }
// }
// .col-2 {
//   @include breakpoint(xs-sm){
//     width: 100%;
//   }
//   @include breakpoint(md-lg){
//     width: 300px;
//   }
// }
#nav-container > .container {
  position: relative;
  padding:0;
  @include breakpoint(xs){
     //padding:0px;
    }
}
#logo {
  position: absolute;
  top: 0;
  background: url('../images/sabres-logo.png') 0 0 no-repeat;
  @include breakpoint(xs){
    width: 217px;
    left: -5px;
    background-size: 220px 60px;
    z-index: 1000;
  }
  @include breakpoint(sm){
    width: 437px;
    left: -20px;
    z-index: 1000;
  }
  @include breakpoint(md){
    width: 437px;
    left: -50px;
    z-index: 0;
  }
  @include breakpoint(lg){
    width: 437px;
    left: -40px;
    z-index: 0;
  }
  a {
    display: block;
    height: 119px;
    @include breakpoint(xs){
      height: 60px; 
    }
  }
}


#main-content {
  //background:#000;
  @include breakpoint(mini){margin:0; }
  span.news-date {
      display: block;
      float: right;
      padding-left: 10px;
      color:#fff;
  }
}
#content-wrap {
  
  @include breakpoint(mini){margin:0; }
}
#content {
  //padding-top: 15px;
  .has-club-logos & {
    padding-top: 0;
  }
}
#sidebar {
  // padding-top:15px;
  padding-bottom:15px;
  padding-left:0;
  padding-right:0;
 
  .has-club-logos & {
    padding-top: 20px;
  } 
}

.fsp-adv-social-media {
  list-style: none;
  padding: 0;
  margin: 0;
  @include breakpoint(xs){
    display: none;  
  }
  li {
    display: inline-block;
    margin-left: 5px;
    &.share-title {
      display: none;
      .single & {
        display: inline-block;
        @include featured-font();
        position: relative;
        top: -4px;
      }
    }
    a {
      font-size: 30px;
      @include webfont();
      color: $yellow !important;
      &:hover {
        color: $blue !important;
        text-decoration: none;
      }
    }
  }
}

.lower-section {
  margin-top: 20px;
}

.title-404 {
  display: none;
}