.about {
	
	@include breakpoint(md){ display: flex; }
	.right {
		
		@include breakpoint(md){
			border-left: 2px solid #493a96;
			padding: 0;
			padding-left: 30px;
		}
		@include breakpoint(sm){
			padding-top:20px;
		}
		@include breakpoint(xs){
			padding-top:15px;
		}
		
		
	}
	.right p {
		color: #7b7b7b;
		font-size: 19px;
		line-height: 24.4px;
		@include breakpoint(md){
			font-size: 19px;
		    line-height: 24.4px;
		}
		@include breakpoint(sm){
			font-size: 17px;
		    line-height: 22px;
		}
		@include breakpoint(xs){
			font-size: 15px;
		    line-height: 22px;
		}
	}
	.left {
		button {
			background:#493a96;
			border:none;
			border-radius: 15px;
			font-family: 'AvenirNext-Bold';
			color: #fff;  align-self: flex-end;
			padding:10px 40px;
			font-size: 18px;
			line-height: 21.6px;
			&:focus{
				outline: none;
			}
		}
		@include breakpoint(md){
			
		    padding-right: 30px;
		    display: flex;
		    justify-content: space-between;
		    flex-direction: column;
		     border-bottom:none;
		}
		@include breakpoint(sm){
			border-bottom: 1px solid #493a96;
		}
		@include breakpoint(xs){
			border-bottom: 1px solid #493a96;
			text-align: center;
			//padding-bottom:20px;
		}
	}
	.left h1 {
		font-family: 'AvenirNext-Regular';
		color: #414142;
	    text-align: right;
	    font-size: 39px;
	    line-height: 50px;
	     @include breakpoint(md){
	     	text-align: right;
		    font-size: 39px;
		    line-height: 50px;
	     }
	    @include breakpoint(sm){
	    	text-align: center;
	    	 font-size: 28px;
    		line-height: 33.2px;     
	    }
		@include breakpoint(xs){
        	 text-align: center;
	            font-size: 22px;
	    		line-height: 28.2px;      
    	}
	}
}