.home-sidebar {
  display:none;
  h1 {
    color:#fff;
  }
   @include breakpoint(md){
    display:block;
  }
  @include breakpoint(sm){
    display:none;
  }
    @include breakpoint(xs){
    display:none;
  } 
}

.fixture {
  h1 {
    color:#fff;
    text-align:center;
  }
}
.news-sidebar {
    background: #fff;
    padding: 3px 3px;
  @include breakpoint(md){
    display:block;
  }
  @include breakpoint(sm){
    display:none;
  }

    .view-more {
      text-align: center;
      text-transform: uppercase;
      background:$theme_color;
      clear: both;
      font-family: 'Anton';
      padding: 7px 0;
      a {
        color:#fff;
        font-family: 'Anton';
      }
  }
      .feature-img {
        padding: 0px 10px;
        img {
          border-radius:3px;
        }
    }
    .read-more {
      padding:0;
      a {
          color:$theme_color;
      }
    }
    .news-content {
          padding: 0 2px;
      h4 {
            color:$theme_color;
            text-transform: uppercase;
            font-family: 'Anton';
             @include breakpoint(lg){
              font-size: 18px;
              line-height: 24px;
            }
            @include breakpoint(md){
              font-size: 16px;
              line-height:20px;
            }
            margin: 0;
      }
    }
    .news-border {
          border-bottom: 1px solid #c5c5c5;
          padding: 8px 0;
          min-height: 82px;
      &:last-child {
        border:none;
      }
  }

  .rel-article-time {
    font-family: Roboto-Regular;
    color: rgba(102,102,102,255);
    font-size: 10px;
    text-transform: uppercase;
  }
}
.ad-banners {
 .promo-logo {
    position: absolute;
    top: 37%;
    left: 0;
    right: 0;
    text-align: center;
}
.banner-images {
    padding-bottom: 15px;
     @include breakpoint(md){
        padding-left: 0;
        padding-right: 17px;
     }
     @include breakpoint(xxs){
        padding:0;
     }
     .img-border {
        border: 4px solid #fff;
    }
}
.promo-arrow {
    position: absolute;
    top: 61%;
    left: 50%;
    font-family: 'Anton';
    color: #fff;
    font-size: 31px;
    text-transform: uppercase;
    letter-spacing: 1px;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
    padding: 14px;
    z-index: 999;
    a {
      color:#fff;
    }
}
.promo-title {
        position: absolute;
        top: 45%; left:50%;  
        font-family: 'Anton';
        color: #fff;
        
        text-transform: uppercase;
        letter-spacing: 1px;
        background: #000066;
        text-shadow: 1px 3px 13px #000;
        -ms-transform:translate(-50%, -50%) rotate(-7deg);
        -webkit-transform: translate(-50%, -50%) rotate(-7deg);
        transform: translate(-50%, -50%) rotate(-7deg);
        opacity: 1;    padding: 12px;
        z-index: 999;
        @include breakpoint(xs){ 
          padding: 6px;
        }
        @include breakpoint(sm){ 
          padding: 10px;
        }
        @include breakpoint(md){ 
          padding: 8px;
        }
        @include breakpoint(lg){ 
          padding: 12px;
        }
        a {
            font-size: 26px;
            text-transform: uppercase;
            letter-spacing: 1px;
            background: #000066;
            vertical-align: middle;
            font-family: 'Anton';
            color: #fff;
             @include breakpoint(mini){ 
              font-size: 14px;
            }
             @include breakpoint(xs){ 
              font-size: 17px;
            }
           @include breakpoint(sm){  
              font-size: 23px;
            }
           @include breakpoint(md){ 
              font-size: 20px;
            }
          @include breakpoint(lg){ 
            font-size: 26px;
          }
        }
         
    }
     .promo-image { 
    //  height:305px;
     // width: 360px;
         width: 100%;
         height: 0;
        padding-top:77.64%;
        position:relative;
        @include breakpoint(xs){
            text-align:center;
        }
         &:after {
                  content: '';
                  background: -moz-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 102, 0.85)));
                  background: -webkit-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
                  background: -o-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
                  background: -ms-linear-gradient(top, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
                  background: linear-gradient(to bottom, rgba(0, 0, 102, 0.06) 0%, rgba(0, 0, 102, 0.1) 59%, rgba(0, 0, 102, 0.85) 100%);
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  top: 0;
                  left: 0;
              }
    }
}
.banners {
  
    padding:0; position:relative;
    li {
        list-style:none;
       
         @include breakpoint(xs){
            width:100%;
        }
        float:left;
        padding:0 10px;
    }
        li:first-child {
          
            img {
                @include breakpoint(xs){
                    height: 100px;
                }
            }
          h3 {
                position: absolute;
                top: 41%;
                color: #fff;
                z-index: 99999;
                left: 30%;
                font-family: 'Anton';
                font-size: 36px;
                text-transform:uppercase;
                font-weight:100;
                 @include breakpoint(lg){
                     font-size: 36px;
                }
                 @include breakpoint(md){
                     font-size: 28px;
                }
                  @include breakpoint(sm){
                     font-size: 24px;
                }
                @include breakpoint(xs){
                    font-size: 24px;
                    position: absolute;
                    left: 20%;
                    right: 20%;
                    text-align: center;
                }
            }
        }    
}
@media (min-width: 410px) and  (max-width: 485px) { 
    .ad-banners .promo-image:after {
        width:100%;
    }
}

@media (min-width: 485px) and  (max-width: 776px) { 

    .banner-images {
        width:50%;
        float:left;
    }
}

.facebook-social-md {
 display:none;
     @include breakpoint(lg){
        display:none;
     }
     @include breakpoint(md){
        display:block;
        padding:0;
     }
}

.facebook-social {
  display:none;
     @include breakpoint(lg){
        display:block;
     }
     @include breakpoint(md){
        display:none;
        padding:0;
     }
}
#banner-panel .panel-content {
  border-top: 3px solid #fff;
  @include breakpoint(xxs){
    border-top :none;
  }
}