
.center {
    text-align:center;
}
.single-gallery-div {
    text-align: left;
    min-height: 273px;
    color: $light_blue;
    font-family: 'serpntbi';
    a {
        color: #000066;
        font-family: 'Anton';
        text-transform:uppercase;
    }
}
.home-more-news .heading {
    color: #012C54;
    margin-bottom: 10px;
	margin-bottom: 10px;
}
.navigation .fsp-arrows {
    font-family: "webfont";
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    padding: 0 5px;
    position: relative;
    top: -9px;
    text-transform: uppercase;
    font-size: 22px;
}
.navigation:before {
    content: "";
    width: 100%;
    height: 99px;
    background: url('../images/page-divider.jpg') no-repeat;
    right: 13px;
    position: absolute;
    background-position: center 0; 
    display: inline-block;
}
.navigation a {
    color: $theme_color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    font-size: 13px;
    //line-height: 34px;
    width: 80%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.md-text-right {
    text-align:right;
}
.archive-img {
    float: left;
    margin: 0 15px 15px 0;
    max-width: 155px;
    height: auto;
}
.single-title {
    a {
        font-family:'serpntbi';
        color:$light_blue;
    } 
	//font-size:40px;
}
.home-more-news {
    margin-top: 20px;
}
.home-more-news-box {
    display: inline-block;
    float: left;
    position: relative;
    width: 22.5%;
    @include breakpoint(xs){
        width: 48%;
    }
}
.read-more {
    a {
        color:$theme_color;
        font-weight:bold;
    }
}
.photo-title {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 16px;
}
.home-more-news-box:nth-of-type(n) {
    margin-bottom: 2%;
    margin-right: 2%;
}
.home-more-news-box img {
    width: 100%;
}
.home-more-news-box h2 {
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    background: rgba(24, 91, 159, 0.9);
    font-size: 18px;
    color: #fff;
    padding: 10px 5px;
     @include breakpoint(xs){
        font-weight: 200;
        font-size: 16px;
     }
}
h2.heading {
    text-transform: uppercase;
}

.addthis_toolbox.addthis_default_style {
    margin: 15px 15px 15px 0;
}
.photo-count {
    text-align: center;
    color: #666;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    font-family: 'Open Sans',sans-serif;
}
.status { 
   color: #666;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    font-family: 'Open Sans',sans-serif;
}
.previous .fa, .next .fa {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   // display: inline-block;
    //float: left;
    line-height: 34px;
    font-size: 25px;
    color: #cacaca;
    width: 7%;
}
li {
    margin-bottom: 10px;
}
.panel-light {
	h1 { 
      
	    //text-shadow: 1px 2px 15px black;
	    a{
	    	color:$blue;
	    }
	}
}

	h1 {
	
	    //text-shadow: 1px 2px 15px black;
	      @include breakpoint(xs){
	     	font-size:20px;
	     }
	     @include breakpoint(sm){
	     	font-size:25px;
	     }
	     @include breakpoint(md){
	     	font-size:33px;
	     }
	}
.feature-img {
    // height: 180px; 
}
.home-panel {
	position: relative;
}
.panel-content {
    position: relative;
    // min-height: 300px;
    
      @include breakpoint(md){
        padding: 75px 0; 
      }
        @include breakpoint(sm){
        padding: 35px 0; 
      }
     @include breakpoint(xs){
     	padding: 20px 0; 
        min-height: 150px;
     }
}
.ad-banners { padding: 30px 0;}
.ad-banners .arrow {
    padding-top:5px;
}
.ad-banners .col-md-4 {
	@include breakpoint(sm){
     	width:33%;
     	float:left;
        padding: 5px;
     }
     @include breakpoint(xs){
     	width:33%;
     	float:left;
        padding:0;
     }
     @include breakpoint(mini){
     	width: 100%;
        float: left;
        text-align: center;
        padding: 0;
    }
}
.ad-banners img {
    position:relative;
   
}
.ad-banners .banner-text{
    position: absolute; 
    top: 31%;
    left: 13%;
    color: #fff;
    font-size: 30px;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    width: 75%;
    @include breakpoint(lg){
        font-size: 30px;
        line-height: 30px;
    }
     @include breakpoint(md){
        font-size: 23px;
        line-height: 28px;
    }
    @include breakpoint(sm){
        font-size: 20px;
        line-height: 22px;
    }
      @include breakpoint(xs){
        font-size: 20px;
        line-height: 22px;
        top: 21%;
    }
}
#content-wrap {
	min-height: 500px;
}
#mfcplay {
	margin: 50px 0 50px 0;
	border: none;
	padding: 0;
	width: 100%;
	height: 880px;
}
.panel-no-arrrow div#scroll { display:none;}
.panel-dark .fa-chevron-down {
    color: #fff;
    background: #fff;
}
.panel-light .fa-chevron-down {
    color: #000;
    background: #fff;
}
div#scroll {
    @include breakpoint(xs){
        display:none;
    }
    .fa-chevron-down {
        
        border-radius:50%;
        -webkit-border-radius:50%;
        width:40px;
        height:40px;
        font-size:16px;
        color:#fff;
        margin:0 auto;
    }
    .fa-chevron-down:before {
        position: absolute;
        top: 16%;
        left: 0;
        right: 0;
        color: #e4002a;
        border-bottom: 3px solid #fff;
    }
    bottom: 23px;
    position:relative;
    cursor: pointer;
    display: inline-block;
    z-index:99;
    text-align:center;
    width: 100%;
   
}
#content .container , #content-wrap .container{
    background:#fff;
}
.news-archive img {
	float: left;
    margin: 0 15px 15px 0;
    // max-width: 155px;
    height: auto;
}
.pagination1 a:first-child {
	font-weight:bold;
	float:left;
}
.pagination1 a {
	font-weight:bold;
	float:right;
}
.post-content p {
    margin:0 0 15px;
    letter-spacing: 0px;
    color: #46595B;
    font-size: 14px;
    line-height: 23px;
    //font-weight: 300;
  font-family: 'Gotham-Book-Regular';
}
.post-content strong {
    //font-family: 'Jockey One', sans-serif;
    color: #2B9DA4;
    font-size: 14px;
    text-shadow: none;
    //font-weight: 500;
    letter-spacing: 0px;
}
#main-content h1, #hero h1, #content-wrap h1 {
   
   
    text-transform: none;
    margin: 12px 15px 15px 0;
   // line-height:48px;
  // text-transform:uppercase;
}
.gallery-title-inner {
    color: #0f235d;
    text-align: center;
    font-family: 'serpntbi';
    font-size: 17px;
    padding: 15px 0;
    text-transform: none;
}
.gallery-title {
    color:#fff;
    text-align:center;
    font-family: 'serpntbi';
    font-size:17px;
    
    text-transform: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: #e4002a;
    z-index: 99;
    width: 221px;
    margin: 0 auto;
    @include breakpoint(xxs){
        padding: 3px 0;
        position:relative;
        width:100%;
    }
    @include breakpoint(md){
        padding: 4px 0;
    }
    @include breakpoint(sm){
        padding: 3px 0;
    }
    h1 {
        color:#fff;
    }
}
.page-title {
    border-bottom:2px solid #eee;
    margin-left:15px !important;
}
.navigation.row {
    padding-bottom: 15px;
}
.news-archive 
{
    .front-more-news { padding-top:15px;}
    .front-more-news li:nth-child(n) {
        @include breakpoint(md)
        { 
            margin-bottom: 1%;
            margin-right: 1%;
        }
    }
    .front-more-news li {
        @include breakpoint(md){ 
         width: 24%;
     }
    }

}
.wp-pagenavi span.current {
    color: #e4002a !important;
}
.col-1 {
       padding-top: 23px;
        display: inline-block;
        width: 100%;
        padding-bottom: 15px;

    @include breakpoint(xs){ 
        display:inline-block;
        padding-bottom:25px;
        width: 100%;
    }
}
.banner-bg {
     
    background-repeat: no-repeat;
    height: 760px;
    width: 100%;
}
.breadcrumb-list {
    a {
        color: #0f235d;
        font-size: 12px;
        font-weight: 500;
    }
    .breadcrumb-current {
        font-weight:bold;
        font-size: 12px;
    }
    margin: 25px 0px 15px 0;
    text-align: right;
    @include breakpoint(md) {

        display: block;
    }
     @include breakpoint(xs-sm) {

        display: none;
    }
}
.page-template-about .news-box h4 {
        font-family: 'serpntbi';
        color:$light_blue; 
        font-size: 20px;
        padding: 15px 0 7px 0;
        font-weight: 100;
        text-transform: uppercase;
        &:hover {
            color:$theme_color;
        }
}
 
.pagination {
    display: inline-block;
    padding-bottom: 15px;
    width: 100%;
    padding-top: 10px;
    background: url('../images/page-divider.jpg') no-repeat;
   .wp-pagenavi {
        padding: 8px 0;
   }
    .wp-pagenavi a, .wp-pagenavi span {
        border-right: 1px solid #BFBFBF !important;
        border: none;
        color: #000;
        font-weight: 600;
        font-size: 12px;
            padding: 0 6px;
        &:hover {
            color:$light_blue;
        }
    }
}

#banner-panel .ad-banners {padding:0px;}

@media only screen and (max-width: 992px) and (min-width: 200px)   {
 
    .headering-top { overflow: inherit;}
}
  .more-link a {
    color: $light_blue;
    font-weight: bold;
    text-transform:uppercase;
}
.more-link {
    padding:4px 0 10px;
}
  .rel-article-content {
        color: #000;
        font-size: 13px;
        line-height: 19px;
        font-family: 'Open Sans',sans-serif;
  }
  .social-media {
    h1 {
        color: #fff;
        text-align: center;
        
    }
    .big-title {
        color: #e4002a;
        text-align: center;
       
        font-size: 40px;
        padding-top: 5px;
     
    }
    .sfeed {
            padding-top: 32px;
        display: inline-block;
    }
    .juicer-feed .j-paginate {
        display:none;
    }
  }
//staff css
  .staff-name {
    display: inline-block;
    padding-top: 15px;
    font-size: 16px;
    color: #0f245d;
    padding-top: 10px;
    @include breakpoint(xs) {
        font-size: 12px;
        line-height: 12px;
    } 
    h2{
         color: #46595B;
    }

}
.staff-company {
    color: #A0D092;    font-family: 'Gotham-Medium';
}
.staff-upper {
    padding-bottom:25px;

    p {
        color: #A0D092;
        font-family: 'Gotham-Medium';
        font-size: 17px;
        line-height: 22px;
    }
}
.staff-image {

    img {
        background: #DAEBE6;
    }
}
.staff-outer {
    @include breakpoint(xs) {
        text-align: center;
        border-bottom: 1px solid #A0D092;
        margin-bottom: 15px;
        &:last-child {
            border:none;
        }
    }
}
.staff-desc {
    padding-top:15px;
}
.staff-pos {
    font-size: 13px;
    font-weight: 400;
    color: #00A49A;
    padding-top: 3px;
    @include breakpoint(xs) {
        font-size: 10px;
        line-height: 10px;
    } 
}
.staff-emailtitle {
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    @include breakpoint(xs) {
        font-size: 10px;
        line-height: 10px;
    } 
}
.staff-email {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 20px;
     @include breakpoint(xs) {
        font-size: 10px;
        line-height: 10px;
    }  
}
.staff .col-xs-6 {
     @include breakpoint(xs) {
        padding:0 5px;
     }
     @include breakpoint(xxs) {
         padding-top: 15px;
     }
}
//Contact page
.contact-details {
    color:#000;
    padding-top: 20px;
        strong {
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }
}
.contact {
    .col-xs-6 {
            @include breakpoint(xxs) {
             width:100%;
         }
    }
}
//Side parent page menu
.parent-side {
    padding: 0;
    li {
        list-style: none;
        border-bottom: 1px solid #ccc;
        padding-bottom: 5px;
        padding-top: 3px;
        &:last-child {
            border: none;
        }
    }
    li.current_page_item > a {
        color:$theme_color;
    }
    li.current_page_item:before {
        content: "\f0d9";
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        padding-right: 5px; color:$theme_color;
    }
    li a {
        font-weight:800;
        color:$light_blue;
    }
}
 .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
.contactus {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 28px;
    padding: 0 12px;
     @include breakpoint(xxs){
                width:100%;
            }
    h3  { text-align:center;    padding: 5px 0;
    }
    input {
        background: #eee;
        min-height: 40px;
        border: none;
        border-radius: 5px;
        width: 100%;
        padding: 0 8px;
        color: #000;
        font-weight: 100;
        outline:none;

    }
    textarea {
        outline:none;
        background: #eee;
        border: none;
        border-radius: 5px;
        padding: 0 8px;
        width: 100%;
    }
    input[type="submit"] {
        background:$theme_color;
        border:none;
        width: 100%;
        color: #fff;
        font-family: 'serpntbi';
        border-radius: 3px;

    }
}
//History child tabs

.rtbs .rtbs_menu li a.active {
    color: #0f245d!important;
    border: 1px solid #0f245d;
    border-radius: 3px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-weight: 600;
}
.rtbs .rtbs_menu li a {
    border-bottom: 1px solid #0f245d;
}
.rtbs .rtbs_menu li a {
    color: #999 !important;
    font-weight: 600;
    padding: 9px 13px !important;
}
.rtbs>.rtbs_content {
    border-top: none!important;
}
.rtbs>.rtbs_content {
    background: transparent!important;
}
.rtbs_full .rtbs_menu ul li {
    background: #0f245d !important;
}
@media (max-width: 888px) {
    .rtbs .rtbs_menu li a {
        background: #0f245d!important;
    }
    .rtbs .rtbs_menu li a {
        color:#fff !important;
    }
    .rtbs_full .rtbs_menu ul li a {
        font-size:15px !important;
    }
}
//WRFL TV CSS
.title-logo {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
}
#category-select {
    z-index: 9999;
    position: absolute;
    display: inline-block;
    padding-left: 10px;
    top: 10px;
}
#category-select select {
    height: 47px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    font-family: 'Open Sans',sans-serif;
    background: #eee;
    color: #0f245d;
    border: none;
    height: 47px;
    padding-top: 23px;
    outline: none;
    font-weight: 600;
    @include breakpoint(xs) 
    {   
        display:none;
    }
}
 
.headering-top-archive {
    overflow: hidden;
     @include breakpoint(md){
        height:95px;
     }
     &:after {
        content: "";
        width: 100%;
        height: 99px;
        background: url('../images/page-divider.jpg') no-repeat;
        right: 1px;
        position: absolute;
        background-position: center 72px;
        display: inline-block;
        @include breakpoint(lg) {
            width: 100%;
            height: 98px;
            right: 1px;
            background-size: 1152px;
            background-position: center 61px;
     }
     @include breakpoint(md) {
            width: 100%;
            height: 113px;
            right: 1px;
            background-size: 964px;
            background-position: center 61px;
     }
     @include breakpoint(sm) {
            width: 100%;
            height: 80px;
            right: 1px;
            background-size: 969px;
            background-position: center 1px;
    }
    
    }
}
//EVENT

#tribe-events-content .tribe-events-calendar td:hover, #tribe-bar-form .tribe-bar-submit input[type=submit] {
     background: #e4002a !important;
     outline:none;
    //font-family: 'serpntbi';
}
.tribe-events-nav-next a,
.tribe-events-nav-previous a {
    font-family: 'serpntbi';
    color: $theme_color;
}
.tribe-events-month-event-title a, .tribe-events-filter-view .tribe-events-page-title {
    color: $theme_color;
}
.tribe-events-filters-horizontal #tribe_events_filters_form {
    clear:initial;
}
#tribe-events-bar {

    margin-bottom: 20px;
}
#tribe_events_filters_wrapper h3, #tribe_events_filters_wrapper a {
    color:#fff;
}
#tribe_events_filters_wrapper {
    background: #0f245d !important;
    border-top: 2px solid #fff !important;
    border-radius: 0 0 5px 5px;
}
.tribe-events-filters-content {
    background: #0f245d !important;
    border:none !important;
}
#tribe-bar-form {
    background: #0f235d;
    //height: 127px;
    border-radius: 5px 5px 0 0;
}
#tribe-bar-form input[type=text] {
     border-bottom: 1px dashed #fff;    
     color: #fff;
}
#tribe-bar-form input[type=text]::-webkit-input-placeholder {
    
        color:#fff;
}
.tribe-bar-views-inner {
        background: #e4002a;   
        color: #fff;
        border-radius: 0 5px 0 0;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a {
    color: #fff;    
    background: #e4002a;
    font-weight: 700;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
    background: #e4002a;
}
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a:hover {
    background: #0f245d;
}
#tribe-events-content .tribe-events-tooltip h4 {
    color:#000;
}

//Event List view css
.tribe-events-list-separator-month+.type-tribe_events.tribe-events-first {
    padding-top: 0;
    margin-top: 0;
}

#tribe-events-content .tribe-events-calendar td:hover .tribe-events-month-event-title a {
    color: #fff;
}
#tribe-bar-views .tribe-bar-views-list {
     @include breakpoint(xs){ z-index: 2; }
}
.tribe-events-calendar thead th {
    background-color:$theme_color;
    border-left: 1px solid $theme_color;
    border-right: 1px solid $theme_color; 
}
.events-list .tribe-events-loop {
    max-width: 100%;
}
.tribe-events-list .type-tribe_events {
    width:25%;
    display: inline-block;
    vertical-align: top;
    @include breakpoint(md){
        width:24.5%;
    }
    @include breakpoint(sm){
        width:33.33%;
    }
    @include breakpoint(xs){
        width:100%;
    }
}
.tribe-events-calendar td.tribe-events-present.mobile-active div[id*=tribe-events-daynum-] {
     @include breakpoint(xs){
        background-color: #e4002a;
     }
     @include breakpoint(sm){
        background-color: #0e265d;
     }
       @include breakpoint(md){
        background-color: #666;
     }
}
// .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] {
//     background-color: #666;
// }
#tribe_events_filter_control #tribe_events_filters_reset {
    @include breakpoint(xs){
        background: #0f235d !important;
     }
}
.tribe-events-list .type-tribe_events h2 {
     @include breakpoint(xs){
        text-align:center;
     }
}
.tribe-is-responsive.tribe-mobile .tribe-events-page-title {
    @include breakpoint(xs){
        margin-top:1.5em;
    }
}
#tribe-mobile-container .type-tribe_events {
     @include breakpoint(xs){
        color:#000;
     }
}
.tribe-events-list .tribe-events-event-image {
    @include breakpoint(xs){
        float: none;
        margin: 0 auto;
        text-align: center;
        display: block;
     }
}
.tribe-events-calendar td.mobile-active {
    @include breakpoint(xs){
        background-color: #0e265d;
    }
}
#tribe-events-content .tribe-events-calendar td {
    @include breakpoint(md){
        height:160px;
    }
}
.tribe-events-calendar td.tribe-events-present.mobile-active {
     @include breakpoint(xs){
        background-color: #e4002a;
     }
     @include breakpoint(sm){
        background-color: #0e265d;
     }
       @include breakpoint(md){
        background-color: #666;
     }
}
.tribe-events-loop .tribe-events-event-meta {
     @include breakpoint(xs){
        background: none;
        border:none;
        text-align: center;
     }
     @include breakpoint(sm){
        background: none;
        border:none;
        
     }
}
.tribe-events-calendar .mobile-active div[id*=tribe-events-daynum-] {
    @include breakpoint(xs){
        background-color: #e4002a;
     }
}
.tribe-events-sub-nav li a {
    @include breakpoint(xs){
        background-color: #e4002a;
     }
     @include breakpoint(sm){
        background-color: none;
     }
     @include breakpoint(md){
        background-color: none;
     }
}
.tribe-events-loop .tribe-events-event-meta {
    @include breakpoint(xxs){
        background:none;
        border:none;
    }
}
#tribe_events_filter_control #tribe_events_filters_toggle {
    @include breakpoint(xs){
        background: #0f255d !important;
        color: #fff;
        border: none;
    }
}
#tribe-bar-collapse-toggle {
        background: #0e265d;
        color:#fff;
        border-radius: 5px 0 0 0;
}
#tribe_events_filters_wrapper .tribe-events-filters-group-heading {
    background: #0e265d !important;
}
.tribe-events-list .tribe-events-event-image+div.tribe-events-content, 
.tribe-events-list .tribe-events-loop .tribe-events-content
{
    display:none;
}
.tribe-events-event-categories a, .tribe-venue a{
    color:#000; 
}
.tribe-events-event-url a {
    color:#000;
    text-decoration:underline !important;
}
#tribe-events .tribe-events-button:hover {
    background-color: #fb0b37;
}
#tribe-events .tribe-events-content p {
    color: #000;
    font-size: 13px;
    font-weight: 300;
}
.tribe-events-list-event-title  a {
    color: #000;
    text-transform: none;
    font-size: 15px;
    font-weight: 600;
}
.tribe-events-list-separator-month span, .tribe-events-list h2.tribe-events-page-title  {
    color:$theme_color;
    font-family: 'serpntbi';
}
#tribe-events .tribe-events-button {
    background-color: #e4002a;
}
//Single event css
.single-tribe_events .tribe-events-event-meta {
    margin:0;
}
.tribe-events-meta-group-venue h3 {
    margin:0 !important; 
}
.tribe-events-meta-group-details h3 {
    font-family: 'serpntbi';
    color: #e4002a;
    margin-top:0 !important;
    font-size: 22px !important; 
    text-transform: uppercase;
}
.event-right {
    padding: 0;
}
.single-tribe_events .tribe-events-event-meta {
    background:none;
    border:none;
    color:#000;
}
.singleevent-title {
    color:$theme_color;
}
a.buy-tickets:hover {
    background-color: #fb0b37;
}
a.buy-tickets {
    background: #e4002a;
    padding: 15px 15px;
    color: #fff;
    font-family: 'serpntbi';
    float: none;
    text-transform: uppercase;
    display: inline-block;
}
.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group {
    width:100%;
    margin-bottom: 0;
}
.tribe-events-event-meta address.tribe-events-address, .tribe-events-list .tribe-events-venue-details {
    font-style:normal;
}
.tribe-events-meta-group-details dd {
    margin-bottom: 15px !important;
}
#tribe-events .tribe-events-button, .tribe-events-button {
    font-size: 10px;
    border-radius:0;
    font-weight:bold;
}
.tribe-events-back a {
    display:none;
}
.tribe-events-filters-horizontal #tribe_events_filters_form {
    @include breakpoint(sm) {
        clear: initial !important;
    }
}
.tribe-bar-views-list span.tribe-icon-list {
     background: url('../images/icon-list.png') no-repeat;
}
.tribe-bar-views-list span.tribe-icon-month{
    background: url('../images/icon-month.png') no-repeat;
}
.apsc-icons-wrapper.clearfix.apsc-theme-1 {
    float: right;
    margin-top: -34px;
    @include breakpoint(md) {
        margin-top: -34px;
    }
    @include breakpoint(sm) {
        margin-top: 15px;
    }
     @include breakpoint(xs) {
        margin-top: 15px;
    }
} 
.apsc-each-profile a {
    box-shadow:none !important;
    border-radius:0 !important;
}
.social-media .juicer-feed.modern li.feed-item {
        height: 450px;
        overflow: scroll;
}
.headering-top {
    @include breakpoint(xs){
        padding-top: 20px;
    }
}



.text-panel {
    h1 { 
        color: #fff;
        font-family: 'AvenirNext-DemiBoldItalic';
        text-align: center;
         @include breakpoint(lg)
          {
             font-size: 38px;
            line-height: 45.6px;
          }
          
          @include breakpoint(sm)
          {
             font-size: 30px;
            line-height: 39.6px;
          }
       
     }
     .client-info {
        text-align: center;
        color: #fff;
        font-family: 'AvenirNext-MediumItalic';
        font-size:24px;
        line-height: 28.8px
    }
}
.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper textarea{
    border: 2px solid #493a96;
    font-family: 'AvenirNext-Regular';
    padding: 8px 8px !important;

    &:focus { outline: none; }
}

ul {
  list-style: none;
}

 
.headering-top {
    display: inline-block;
    width: 100%;
    padding-top: 50px;
}
button,
.gform_footer input[type=submit] {
            background:#493a96;
            border:none;
            border-radius: 15px;
            font-family: 'AvenirNext-Bold';
            color: #fff;  
            align-self: flex-end;
            padding:13px 22px;
            font-size: 18px;
            line-height: 21.6px;
            &:focus{
                outline: none;
            }
    }


.case-studies {
    .case {
        font-family: 'AvenirNext-Regular';
        color: #7565ca;
          

        @include breakpoint(lg) {
            font-size: 27.88px;
            line-height: 35.66px;
            margin-bottom: 20px;
        }
        @include breakpoint(md) {
            font-size: 23.88px;
            line-height: 31.66px;
            margin-bottom: 15px;
        }
         @include breakpoint(sm) {
            font-size: 16.88px;
            line-height: 29.66px;
        }
          @include breakpoint(xs) {
             padding-bottom: 10px;
        }
    }
    .case_desc {
        margin: 15px 0;
        @include breakpoint(md){
            font-size: 19px;
            line-height: 24.4px;
        }
        @include breakpoint(sm){
            font-size: 17px;
            line-height: 22px;
        }
        @include breakpoint(xs){
            font-size: 15px;
            line-height: 22px;
        }
    }
    .case_name {
         font-family: 'AvenirNext-DemiBold';
         color:#493a96;
        @include breakpoint(md) {
             font-size:23px;
            line-height: 22.4px;
        }
          @include breakpoint(sm) {
             font-size:20px;
            line-height: 22.4px;
        }
          @include breakpoint(xs) {
             font-size:21px;
            line-height: 20.4px;
        }
    }
    .case_name.Problem:before{
        content: '';
        background:url('../images/problem.svg');
        position: absolute;
        width: 100%;
        height: 47px;
        left: -50px;
        background-repeat: no-repeat;
        margin-top: -10px;
          @include breakpoint(md){
            margin-top: -8px;
             height: 40px;
            left: -40px;
          }
           @include breakpoint(sm){
                margin-top: -2px;
                height: 30px;
                left: -25px;
          }
           @include breakpoint(xs){
            display: none;
           }
    }
    .case_name.Approch:before {
        content: '';
        background:url('../images/approch.svg');
        position: absolute;
        width: 100%;
        height: 47px;
        left: -50px;
        background-repeat: no-repeat;
        margin-top: -10px;
         @include breakpoint(md){
            margin-top: -8px;
             height: 40px;
            left: -40px;
          }
           @include breakpoint(sm){
             margin-top: -2px;
                height: 30px;
                left: -25px;
          }
            @include breakpoint(xs){
            display: none;
           }
    }
    .case_name.Outcome:before {
        content: '';
        background:url('../images/outcome.svg');
        position: absolute;
        width: 100%;
        height: 47px;
        left: -50px;
        background-repeat: no-repeat;
        margin-top: -10px;
         @include breakpoint(md){
            margin-top: -8px;
             height: 40px;
            left: -40px;
          }
           @include breakpoint(sm){
              margin-top: -2px;
                height: 30px;
                left: -25px;
          }
            @include breakpoint(xs){
                display: none;
           }
    }
    .items {
        margin-bottom: 25px;
        width: 100%;
        float: left;
        img {
             @include breakpoint(md) { max-width: 100%; }
              @include breakpoint(sm) { max-width: 85%; }
        }
    }
        .case_title {
        font-family: 'AvenirNext-DemiBold';
       
           @include breakpoint(lg)
          {
             font-size: 33px;
             line-height: 40px;
          }
           @include breakpoint(md)
          {
             font-size: 30px;
             line-height: 37px;
          }
           @include breakpoint(sm)
          {
             font-size: 22px;
             line-height: 28px;
          }
           @include breakpoint(xs)
          {
             font-size: 22px;
             line-height: 28px;
             padding:10px 0;
          }
    }
}