/*
#slider-panel .panel-content {
    padding: 0;
}
header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 72vh;
     @include breakpoint(md){
        height: 62vh;
      }
       @include breakpoint(sm){
        height: 40vh;
      }
       @include breakpoint(xs){
        height: 30vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }

}

*/
#slider-panel {
  .panel-content {
    padding:0;
      &:after {
        content: '';
        background: url('../images/purple-overlay.png');
        background-size: cover;
        position:absolute;
        width: 100%; height: 100%;
        top: 0;z-index: 0;
      }
  }
}
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 99;
  h1 {
    color: #fff;
    text-transform: uppercase;
  }
  img {
     @include breakpoint(lg){height: 180px;}
     @include breakpoint(sm){height: 78px;}
      @include breakpoint(xs){height: 80px;}
  }
  

}
header {
  position: relative;
  // background: url('../images/home-banner.png') black no-repeat center center scroll;background-size: cover;
  height: 75vh;
  min-height: 20rem;
  width: 100%;
  overflow: hidden;
 @include breakpoint(md){
        height: 50vh;
      }
  @include breakpoint(sm){
        height: 25vh;
      }
       @include breakpoint(xs){
        height: 20vh;
      }
       @include breakpoint(xxs){
        height: 20vh;
      }
}

header video {
  position: absolute;
  top: 50%; 
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
/*  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;*/
}

