
// body {
// 	background: #ccc !important
// }

.slick-slider-container {
	@include breakpoint(xs){
		background: transparent;
	}
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
   
    &:focus {
        outline: none;
    }
}

.slick-loading .slick-list {
    background: #fff url("../images/ajax-loader.gif") center center no-repeat;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide {
   
    &.slick-loading img {
        display: none;
    }
    &.dragging img {
        pointer-events: none; 
    }
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    // border: 1px solid transparent;
}




// /* Arrows */

// .slick-prev, .slick-next {
//     // position: absolute;
//     display: block;
//     // height: 20px;
//     // width: 20px;
//     // line-height: 0;
//     // font-size: 0;
//     cursor: pointer;
//     background: transparent;
//     color: transparent;
//     // top: 50%;
//     // margin-top: -10px;
//     padding: 0;
//     border: none;
//     outline: none;
//     opacity: .85;
//     @include center-verticle;
//     z-index: 100;
// }

// .slick-prev {
// 	@include breakpoint(sm){
// 		@include reduce-sprite($big-arrow-left,2.5);
// 	}
// 	@include breakpoint(md){
// 		@include reduce-sprite($big-arrow-left,2);
// 	}
// 	@include breakpoint(lg){
// 		@include reduce-sprite($big-arrow-left, 1);
// 	}
//     &:hover {
//     	opacity: 1;
//         // outline: none;
//         // background: transparent;
//         // color: transparent;
//     }

//     .discipline-slideshow & {
//     	@include breakpoint(sm){
//     		@include reduce-sprite($big-arrow-left-white,2);
//     		&:hover {
//     			@include reduce-sprite($big-arrow-left, 2);
//     		}
//     	}
//     }
// }

// .slick-next {
// 	@include breakpoint(sm){
// 		@include reduce-sprite($big-arrow-right, 2.5);	
// 	}
// 	@include breakpoint(md){
// 		@include reduce-sprite($big-arrow-right, 2);	
// 	}	
// 	@include breakpoint(lg){
// 		@include reduce-sprite($big-arrow-right, 1);
// 	}
//     &:hover {
//     	opacity: 1;
//         // outline: none;
//         // background: transparent;
//         // color: transparent;
//     }
//     .discipline-slideshow & {
//     	@include breakpoint(sm){
//     		@include reduce-sprite($big-arrow-right-white, 2);
//     		&:hover {
//     			@include reduce-sprite($big-arrow-right, 2);
//     		}		
//     	}
//     }
// }

// // .slick-prev {
// //     &:hover:before, &:focus:before {
// //         opacity: 1;
// //     }
// // }

// // .slick-next {
// //     &:hover:before, &:focus:before {
// //         opacity: 1;
// //     }
// // }

// .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
//     opacity: 0.25;
// }

// .slick-prev:before, .slick-next:before {
//     // font-family: "slick";
//     // font-size: 20px;
//     // line-height: 1;
//     // color: white;
//     // opacity: 0.75;
//     // -webkit-font-smoothing: antialiased;
//     // -moz-osx-font-smoothing: grayscale;
// }

// .slick-prev {
// 	@include breakpoint(sm){
// 		left: 5px;	
// 	}
// 	@include breakpoint(xlg){
// 		left: 10%;
// 		.discipline-slideshow & {
// 			left: 5px;
// 		}
// 	}
// }

// [dir="rtl"] .slick-prev {
//     left: auto;
//     right: 100px;
// }

// .slick-prev:before, [dir="rtl"] .slick-prev:before {
//     content: "";
// }

// .slick-next {
//     @include breakpoint(sm){
//     	right: 5px;	
//     }
//     @include breakpoint(xlg){
//     	right: 10%;
//     	.discipline-slideshow & {
//     		right: 5px;
//     	}
//     }
// }

// [dir="rtl"] .slick-next {
//     left: 100px;
//     right: auto;
// }

// .slick-next:before, [dir="rtl"] .slick-next:before {
//     content: "";
// }

// /* Dots */

// // .slick-slider {
// //     margin-bottom: 30px;
// // }


