.solution {
    .contact-solution {
        a{
            background:#493a96;
            border:none;
            border-radius: 15px;
            font-family: 'AvenirNext-Bold';
            color: #fff;  
            align-self: flex-end;
            padding:13px 22px;
            font-size: 18px;
            line-height: 21.6px;
            &:focus{
                outline: none;
            }
        }
    }
    .solution-title {
        padding-bottom: 35px;
        text-align: center;
       
         @include breakpoint(md){
             font-size: 39px;
            line-height: 50px;
        }
         @include breakpoint(sm){
            font-size: 28px;
            line-height: 33.2px;
        }
         @include breakpoint(xs){
             font-size:22px;
             line-height: 28.2px;
             padding-bottom:0;
         }
    }
    .contact {
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    .service-title {
        font-family: 'AvenirNext-Medium';
        border-bottom: 2px solid #7565ca;
        color: #414142;
        padding-top: 20px;
        padding-bottom: 10px;
         @include breakpoint(lg){
             padding-top: 20px;
             font-size:31px;
             line-height: 37.2px;
         }
            @include breakpoint(sm){
             padding-top: 15px;
             font-size:25px;
             line-height: 33.2px;
         }
          @include breakpoint(xs){
             font-size:22px;
             line-height: 28.2px;
         }
        
    }
    .service-desc {
        font-size: 19px;
        line-height: 24px;
        padding-top: 20px;
        font-family: 'AvenirNext-Regular';
         @include breakpoint(md){
             font-size: 19px;
            line-height: 24px;
        }
         @include breakpoint(sm){
             font-size: 17px;
            line-height: 22px;
        }
          @include breakpoint(xs){
             font-size:15px;
             line-height: 22px;
         }
    }
    .bottom-part {
        padding-top:35px;
    }
    .busness-sol {
        @include breakpoint(xs){
           padding-bottom:20px;
           text-align: center;
        }
    }
}