.front-more-news {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 10px;
    .read-more {
	 color: #0d223f;
    font-weight: 600;
    padding: 0 10px;
        font-size: 16px;
    }
    .sponsor-img {
	    padding-top: 10px;
	}
    li {
    	margin: 3px 0;
    	padding: 14px;
	    float: left;
	    display: inline-block;
	    background: #fff;
	    line-height: 20px;
	    @include breakpoint(xs){ padding: 0; }
	     @include breakpoint(md){ width: 45%; }
	     @include breakpoint(lg){ } 
	     @include breakpoint(sm){ width:46%; margin-right:17px;} 

	    
	   
	     p {
		    padding: 0 10px;
		    font-size: 15px;
		    line-height: 26px;
		}
	     .rel-article-time {
		    background: #fff; 
		    margin-bottom: 5px;
		    padding: 5px 10px;
		    //font-style: italic;
    		font-size: 15px;
		}
    }
}
.rel-article-time {
    color: #999;
    font-size: 12px;
}
.more-news {
@include breakpoint(xs){
	text-align:center;
}
}
#latest-news-panel .panel-content {
	@include breakpoint(xs){
		background:#fff !important;    padding-bottom: 0;
	}
	
}
.more-news .fa-chevron-circle-right {
	padding-left:10px;
}
.more-news-events {
	@include breakpoint(xs){
		padding:0;
	}
}
@media (min-width: 767px) and  (max-width: 990px) {
	#latest-news-panel .panel-content { background:#0d2241 !important;}
	.major-sponsor { margin-top:25px;}
	
}
@media (min-width: 650px) and  (max-width: 990px) {
	.sponsor-img {
		float:left;
		width:45%;
	}
	.sponsor-text {
		padding: 10px 0;
		width: 55%;
        padding-left: 15px;
	}
}
.sponsor-img { padding-top:10px;}
.major-sponsor h3 { color:#fff;}
// .major-sponsor:before {
// 	//background:url('http://localhost/slhc/wp-content/uploads/2017/01/side_panel.png'); 
// 	content:url('http://localhost/slhc/wp-content/uploads/2017/01/side_panel.png'); /* with class ModalCarrot ??*/
//   position:relative; /*or absolute*/
//   z-index:100000; /*a number that's more than the modal box*/
//   left:-50px;
//   top:10px;
// }
.major-sponsor { 
	padding:0;
	//background:url('http://localhost/slhc/wp-content/uploads/2017/01/sidebar.png');

	@include breakpoint(xs){
		padding-top:12px;
		background: #0d2241;
	    float: left;
	    padding: 30px 15px;
	    margin-top: 30px;
	    width: 100%;
	}
}
.sponsor-text {
	 @include breakpoint(xs){
	 	padding-bottom: 10px;
	 }
	ul { padding:0px;border: 1px solid #fff;
    border-radius: 2px;}
    float: left;
    padding-top: 15px;
	    li {
	    	list-style: none;
		    color: #fff;
		    padding: 10px 5px;
		    border-bottom: 1px solid;
		    a {
		    	color: #fff;
			    font-size: 18px;
			    font-weight: 500;
		    }
	    }
	     li:before { 
	     }
	    span.sub-text {
		    font-size: 14px;
    		font-weight: 100;
	}
		i.fa.fa-trophy, .fa-calendar, .fa-map-marker, .fa-book{
	    color: #fff;
	    font-size: 33px;
	    float: left;
	    padding: 13px;
	}
}
.more-news-section, .event-sidebar { padding:0;}
.more-news-section h3 a{
	color:#fff ;
	font-weight: 600;
	@include breakpoint(xs){
		color: #0d223f;
		padding-left: 10px;
	}
}

@media (min-width: 992px) {
	.front-more-news li:nth-child(n) {
	    margin-bottom: 2%;
	    margin-right: 2%;
	}
}
.elite_events_widget {
	position: relative;
	@include breakpoint(xs){
		height: inherit;
		margin-left: -15px;
		margin-right: -15px;	
	}
	@include breakpoint(sm){
		height: inherit;	
	}
	@include breakpoint(md){
		height: 404px;
	}
	@include breakpoint(lg){
		height: 394px;
	}
	.widget-title {
		@include breakpoint(md){
			margin-bottom: 15px;
			font-size: 26px;
		}
		@include breakpoint(lg){
			font-size:35px;
		}
	}
}
.widget-title {
	font-family: 'Rajdhani', sans-serif;
    color: #185B9F;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    clear: both;
}
.event_archive_link {
    display: block;
    height: 55px;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
    background: #012C54;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 55px;
     @include breakpoint(md){ 
     	position: absolute;
    	margin-top: 0;
     }
     @include breakpoint(sm){ 
     	position: static;
    	margin-top: 2px;
     }

}
.event_widget_row, .event_list_row {
		position: relative;
		display: block;
		color: #012C54;
		height: 45px;
		background-color: #F2F2F3;
		font-size: 16px;
		// border-top: 1px solid #fff;
		// border-bottom: 1px solid #fff;
		&:hover {
			background-color: lighten(#F2F2F3, 2%);
			// color: #fff;
			&:nth-child(odd) {
				background-color: lighten(#F2F2F3, 2%);
				// color: #fff;
			}
		}
		&:nth-child(odd) {
		   background-color: $grey;
		}
		.event_date, .event_title, .event_time {
			@include center_verticle;
		}
		.event_date {
			font-weight: 300;
			left: 5px;
			@include breakpoint(xs){
				left: 15px;	
			}
		}
		.event_title {
			font-weight: 700;
			white-space: nowrap;
			left: 60px;
			width: 190px;
			overflow: hidden;
			text-overflow: ellipsis;
			@include breakpoint(xs){
				left: 70px;	
			}
			@include breakpoint(sm){
				left: 60px;
				width: 250px;
			}
			@include breakpoint(md){
				left: 50px;
				width: 150px;
			}
			@include breakpoint(lg){
				left: 60px;
				width: 190px;
			}
		}
		.event_time {
			display: none;
		}
	}
	.elite_events_list ul {
		padding:0;

		li {
			list-style:none;
			.event_title { left:90px;}
			.event_time { //display: block; 
			}
		}
	}
	#new-archive-get-involved-panel .panel-content {
		padding	:0 !important;
	}
	.main-news-archive {
		background-color: rgba(255, 255, 255, 0.1);
  //  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(rgba(255, 255, 255, 0.1)));
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0.32)));
    background-image: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
    background-image: -moz-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
    background-image: -o-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
    background-image: linear-gradient(top, #ffffff, rgba(255, 255, 255, 0.32));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='rgba(255, 255, 255, 0.32)');
    //border-bottom: 1px solid #fff;
   // padding: 50px 0;
    display:block;	
	}
	

	@media (min-width: 2050px) {
	#new-archive-get-involved-panel .panel-content {
	    background-position: center -150px !important;
	}
}
@media (min-width: 1730px) {
	#new-archive-get-involved-panel .panel-content {
	    background-position: center -62px !important;
	}
}
.news-box {
	min-height:285px;
	 h4 {
	     	-webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		     font-family:'serpntbi';
		    
		    letter-spacing: 0px;
		    padding: 0 0 5px 0;
		    line-height: 19px;
		    color: $light_blue;
		    margin: 0;
		    display:inline-block;
		    font-size: 16px;
		    text-transform: none;
		    @include breakpoint(xs){
				font-size : 15px;
			}
			&:hover {
				color: $theme_color;
			}
		}
}

.tribe-events-back a {
	display:none;
}